.header {
  display: flex;
  width: 100%;
  background-color: $clr-secondary;
  padding: 10px;
  box-shadow: 0 0 10px black;

  &__nav {
    margin-left: auto;
    display: flex;
    gap: 20px;
    align-items: center;

    img {
      height: 70px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      border: solid 2px black;
      object-fit: cover;
    }
  }

  &__logo {
    max-width: 250px;
  }
}
