.profile__container {
  max-width: 800px;
  width: 800px;
  // background-color: $clr-secondary;
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  overflow: hidden;
  padding: clamp(15px, 2vw, 50px);

  @media screen and (max-width: $media) {
    width: 100%;
    border-radius: 0px !important;
  }

  @media screen and (max-width: $media-small) {
    padding-inline: 0;
  }

  .profile-infos__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(4, auto);
    grid-template-areas:
      "img img"
      "username username"
      "firstname lastname"
      "bio bio"
      "status status";
    place-items: center;
    gap: 30px;

    @media screen and (max-width: $media) {
      grid-template-columns: 1fr;
      grid-template-rows: auto repeat(6, auto);
      grid-template-areas:
        "img"
        "username"
        "firstname"
        "lastname"
        "bio"
        "status";
      max-width: 600px;
    }

    .profile-picture__container {
      grid-area: img;
    }

    li {
      font-size: 1.3rem;
      background-color: white;
      line-height: 30px;
      display: flex;
      @media screen and (max-width: $media) {
        width: 100%;
      }

      .attribute,
      .value {
        height: 100%;
        text-align: center;
        padding: 5px;
        width: 100%;
      }

      .attribute {
        background-color: $clr-main;
        font-weight: bold;
        color: white;
        width: 100px;
        @media screen and (max-width: $media) {
          min-width: 30%;
          width: 50%;
        }
      }

      .value {
        padding-inline: 10px;
      }
    }

    .username-container {
      grid-area: username;
    }

    .firstname-container,
    .lastname-container {
      width: 100%;
    }

    .firstname-container {
      grid-area: firstname;
      justify-self: self-end;
    }

    .lastname-container {
      grid-area: lastname;
      justify-self: self-start;
    }

    .bio-container {
      height: auto;
      grid-area: bio;
      display: flex;
      flex-direction: column;
      max-width: 500px;
      word-break: break-word;

      .attribute {
        display: flex;
        justify-content: center;
        width: 100%;
      }

      .value {
        padding: 20px;
      }
    }

    .status-container {
      grid-area: status;
    }
  }
}
