.image-profile-edit__container {
  display: flex;
  place-items: center;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 20px;

  @media screen and (max-width: $media) {
    gap: 30px;
  }

  .profil-edit-buttons__container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;

    .media-infos {
      top: -100px;
      background-color: $clr-main;
      left: -30px;
      right: -30px;
    }

    .btn {
      flex: 0 1 200px;
      background-color: $clr-main;
      color: white;
      max-width: 50%;

      &:hover {
        background-color: $clr-orange;
      }
    }
  }
}
