.image-profile-edit__container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 50px 50px;
  grid-template-areas:
    "img img"
    "delimg abort";
  margin-bottom: 20px;

  @media screen and (max-width: $media) {
    gap: 50px 20px;
  }

  .profile-picture__container {
    grid-area: img;
  }

  .btn {
    width: 100%;
    background-color: $clr-main;
    color: white;

    &:hover {
      background-color: $clr-orange;
    }
  }

  .btn-browse {
    grid-area: abort;
  }

  .btn-delete {
    grid-area: delimg;
  }
}
