.confirmation-delete-email {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr auto 1fr 1fr;
  grid-template-areas:
    "."
    "title"
    "info"
    "btn"
    ".";

  &__title {
    grid-area: title;
  }

  i {
    grid-area: info;
  }

  &__btn {
    grid-area: btn;
  }
}

.email-update__wrapper,
.password-update__wrapper {
  .submit-abort__container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;

    & > * {
      max-width: 50%;
    }

    input,
    button {
      background-color: $clr-orange;
      width: 100%;
      max-width: 100px;
      color: white;
      height: 30px;
      line-height: 30px;

      &:hover {
        background-color: $clr-main;
      }

      &:focus {
        outline: 2px solid $clr-main;
      }
    }

    small {
      display: block;
      position: absolute;
      color: $clr-orange;
      height: 15px;
      bottom: -25px;
      min-width: 100%;
      font-weight: bold;
      text-align: center;
    }
  }
}
