.messages__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: transparent !important;
  box-shadow: none !important;
  padding: clamp(5px, 2vw, 50px) !important;
}

.msg__card {
  position: relative;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
  // background-color: rgba(255, 255, 255, 0.486);
  background-color: $clr-secondary-light;
  width: 100%;
  display: grid;
  place-items: center;
  // gap: 30px;
  padding: 20px;
  font-size: 1.1rem;
  font-weight: bold;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "names names date date"
    "img img img img"
    "text text text text"
    "comment edit delete like";

  @media screen and(max-width: $media) {
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "names names names names"
      "date date date date"
      "img img img img"
      "text text text text"
      "comment edit delete like";
    gap: 10px;
  }

  @media screen and (max-width: $media-small) {
    padding: 10px;
    gap: 0;
  }

  .names {
    grid-area: names;
    background-color: $clr-main;
    color: white;
    width: fit-content;
    padding: 5px;
    justify-self: self-start;
    transition: 300ms;
    margin-bottom: 30px;

    &:hover {
      cursor: pointer;
      background-color: $clr-orange;
    }
  }

  .date-container {
    grid-area: date;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 0.9rem;
    justify-self: self-end;
    margin-bottom: 30px;

    @media screen and (max-width: $media-small) {
      margin: 0px;
    }
  }

  .msg__img-container {
    grid-area: img;
    border: solid 10px $clr-main;
    background-color: $clr-pink;
    // box-shadow: 0 0 20px rgb(100, 100, 100);
    justify-self: center;
    margin: 20px 0px 30px 0px;

    .msg__img {
      display: block;
      animation: scale-in 500ms 200ms both;
      transform: scale(0);
      max-width: 100%;
      max-height: 600px;
      object-fit: cover;
    }
  }

  .text {
    grid-area: text;
    justify-self: center;
    padding: 50px 10px;
    word-break: break-word;
    margin-bottom: 30px;
    background-color: $clr-secondary;
    width: 100%;
    text-align: center;

    @media screen and(max-width: $media) {
      padding-block: 30px;
    }
  }

  svg {
    font-size: 1.6rem;
    transition: 300ms;

    &:hover {
      cursor: pointer;
    }

    &:not(.like-icon) {
      &:hover {
        color: $clr-orange;
      }
    }
  }

  .like-container,
  .comment-container {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  .like-container {
    grid-area: like;

    .likeNb {
      &:hover {
        cursor: pointer;
      }
    }

    .liked-list {
      position: absolute;
      bottom: 60px;
      right: 0px;
      font-size: 0.9rem;
      font-weight: normal;
      color: white;
      background-color: $clr-main;
      padding: 10px;

      li {
        white-space: nowrap;
      }
    }
  }

  .comment-container {
    grid-area: comment;
  }

  .del-icon__wrapper {
    grid-area: delete;
  }

  .edit-icon__wrapper {
    grid-area: edit;
  }
}
