@keyframes growing {
  to {
    transform: scale(1);
  }
}

.message-post__container {
  animation: growing 500ms forwards;
  transform: scale(0);
  max-width: 600px;
  width: 100%;
  padding: 20px;
  color: $clr-main !important;

  @media screen and (max-width: $media-small) {
    padding: clamp(5px, 2vw, 50px) !important;
  }
}

.message-post__card {
  background-color: $clr-secondary-light;
  box-shadow: 0 0 5px black;
  padding: 20px;
  border-radius: 30px;

  .post-card__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "img img"
      "abcontainer abcontainer"
      "inputlabel inputlabel"
      "srcontainer srcontainer";

    .media-infos__container {
      grid-area: media-info;
      color: $clr-main;

      .media {
        font-weight: bold;
        text-align: center;
      }

      .media-info {
        margin-bottom: 0;
      }

      .media-restriction {
        margin-bottom: 10px;
        font-size: 0.8rem;
      }
    }

    .browse-abort__container,
    .submit-reset__container {
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 20px;

      & > * {
        max-width: 50%;
      }
    }

    .browse-abort__container {
      grid-area: abcontainer;

      .btn {
        margin-bottom: 20px;
      }
    }

    .submit-reset__container {
      position: relative;
      grid-area: srcontainer;
      margin-bottom: 10px;

      small {
        position: absolute;
        color: red;
        height: 15px;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 100% !important;
        width: 100%;
        text-align: center;
        font-weight: bold;
      }
    }
    .image-post-edit__container {
      grid-area: img;
      margin-bottom: 30px;
    }

    .input-label__container {
      position: relative;
      grid-area: inputlabel;
      max-width: 500px;
      margin-bottom: 30px;

      textarea {
        padding-right: 70px;
        line-height: 1.4rem;
        overflow: visible;
        &::-webkit-scrollbar {
          width: 0;
          background: transparent;
        }
      }

      .btn-browse {
        position: absolute;
        right: 5px;
        width: 50px;
        height: 50px;
        top: calc(50% + 11px);
        transform: translateY(-50%);
        background-color: transparent;
        box-shadow: none;
        transition: 500ms cubic-bezier(0.42, 1.26, 0.85, 1.09);

        &:hover {
          transform: translateY(-50%) scale(1.2) rotate(1turn);
          cursor: pointer;
        }

        &::after {
          content: " ";
          background: url("../../../../public/images/svg/ImageUpload.svg") no-repeat;
          inset: 0;
          position: absolute;
        }
      }
    }

    .btn {
      background-color: $clr-orange;
      color: white;
      flex: 0 1 100px;
      box-shadow: 0 0 3px rgb(131, 131, 131);
      height: 30px;
      line-height: 30px;
      font-weight: 400;

      &:hover {
        background-color: $clr-main;
      }
    }
  }
}
