.messages__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: transparent !important;
  // width: 100%;
}

.msg__card {
  box-shadow: 0 0 5px black;
  border-radius: 10px;
  // background-color: rgba(255, 255, 255, 0.486);
  background-color: #d9e2f2;
  width: 100%;
  display: grid;
  align-items: center;
  gap: 30px;
  padding: 20px;
  font-size: 1.1rem;
  font-weight: bold;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "names names date date"
    "img img img img"
    "text text text text"
    "comment . . like";

  .names {
    grid-area: names;
    background-color: $clr-main;
    color: white;
    width: fit-content;
    padding: 5px;
  }

  .date-container {
    grid-area: date;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    justify-self: self-end;
  }

  .msg__img-container {
    grid-area: img;
    border: solid 10px $clr-main;
    background-color: $clr-pink;
    box-shadow: 0 0 20px rgb(100, 100, 100);
    max-width: 400px;
    justify-self: center;
    background-color: red;

    .msg__img {
      display: block;
      animation: scale-in 500ms 200ms both;
      transform: scale(0);
      width: 100%;
      object-fit: cover;
    }
  }

  .text {
    grid-area: text;
    justify-self: center;
  }

  .like-container {
    grid-area: like;
    display: flex;
    justify-self: self-end;
  }

  .comment-container {
    grid-area: comment;
    display: flex;
  }
}
