@keyframes slider {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

.slide {
  animation: slider 500ms 100ms backwards;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
