.profile-buttons {
  display: grid;
  place-items: center;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  grid-template-areas:
    "edit delete"
    "mail pw";
  max-width: 700px;
  width: 100%;

  & > * {
    max-width: 250px;
    width: 250px;
  }

  @media screen and (max-width: $media) {
    padding-inline: 20px;
    margin-bottom: 30px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "edit"
      "delete"
      "mail"
      "pw";

    & > * {
      max-width: 100%;
      width: 100%;
    }
  }

  .btn-edit {
    grid-area: edit;
  }

  .btn-delete {
    grid-area: delete;
  }

  .link-mail {
    grid-area: mail;
  }

  .link-pw {
    grid-area: pw;
  }
}

.btn,
.nav-btn,
.abort-btn {
  box-shadow: 0 0 3px black;
  height: 35px;
  font-weight: bold;
  color: black;
  line-height: 35px;
  text-align: center;
  background-color: $clr-secondary-light;
  outline: 3px solid $clr-orange;
  border-radius: 5px;
  border: none;
  transition: background-color 400ms, font-size 400ms, border-radius 300ms;

  &:hover {
    cursor: pointer;
    background-color: $clr-orange;
    color: white;
    font-size: 1.08rem;
    // border-radius: 5px;
  }
}
