.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: auto;
  padding: 20px;
  width: 100%;
  max-width: 600px;

  label {
    color: $clr-main;
  }

  @media screen and (max-width: $media-small) {
    padding-inline: 0;
  }

  .abort-btn {
    width: 30%;
    background-color: $clr-main;
    color: white;
  }

  .media-infos__container {
    grid-area: media-info;
    color: $clr-main;

    .media {
      font-weight: bold;
      text-align: center;
    }

    .media-info {
      margin-bottom: 0;
    }

    .media-restriction {
      margin-bottom: 10px;
      font-size: 0.8rem;
    }
  }
}
