.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: auto;
  padding: 20px;
  width: 100%;
  max-width: 600px;

  @media screen and (max-width: $media-small) {
    padding-inline: 0;
  }

  .abort-btn {
    width: 30%;
    background-color: $clr-main;
    color: white;
  }
}
