.post-picture__container {
  grid-area: img;
  border: solid 10px $clr-main;
  justify-self: center;
  margin-top: 20px;
  overflow: hidden;
  transform-origin: bottom center;

  .post__picture {
    transform: scale(0);
    animation: scale-in 500ms 200ms forwards;
    display: block;
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;

    @media screen and (max-width: $media-small) {
      max-height: 200px;
    }
  }
}
