@keyframes voting {
  50% {
    transform: scale(1.3);
  }
}

@keyframes neutral {
  50% {
    transform: scale(1.3);
  }
}

.disliked {
  animation: voting alternate 300ms;
  color: red !important;
  &:hover {
    color: red !important;
  }
}

.liked {
  fill: red;
  animation: voting alternate 300ms;

  &:hover {
    fill: red;
  }
}

.neutral {
  fill: $clr-main;
  color: $clr-main !important;
  &:hover {
    fill: red;
    color: red !important;
  }
}
